.DynamicTree {
    font-family: georgia, tahoma;
    font-size: 11px;
    white-space: nowrap;
    cursor: default;
}
.DynamicTree .doc img,
.DynamicTree .folder img { border: 0; vertical-align: -4px; }
* html .DynamicTree .doc img,
* html .DynamicTree .folder img { border: 0; vertical-align: middle; vertical-align: -4px; }
.DynamicTree .section { background: url(../../img/dynamictree/tree-branch.gif) repeat-y; display: none; }
.DynamicTree .last { background: none; }
.DynamicTree .folder .folder { margin-left: 18px; }
.DynamicTree .doc .doc, .DynamicTree .folder .doc { margin-left: 18px; }

.DynamicTree .doc a { color: #000000; text-decoration: none; }
.DynamicTree .doc a:hover { color: #000000; text-decoration: underline; }

.DynamicTree .folder a { color: #000000; text-decoration: none; }
.DynamicTree .folder a:hover { color: #000000; text-decoration: underline; }

.DynamicTree .text { padding: 1px; }
.DynamicTree .text-active { background: #CEE3FF;  padding: 1px; }

.DynamicTree .active { background: #CEE3FF; }

/* hack for IE to fix a bug (background of .section disappearing when mouse is over a link, for example Node 1.1.1.1) */
* html .DynamicTree .folder { position: relative; }

.DynamicTree img { border: 0; }

.DynamicTree .actions {
    position: relative;
    margin-top: 7px;
    margin-left: 10px;
    height: 20px;
}
.DynamicTree .tooltip {
    position: absolute;
    line-height: 22px;
    left: 185px;
}
.DynamicTree .moveUp,
.DynamicTree .moveDown,
.DynamicTree .moveLeft,
.DynamicTree .moveRight,
.DynamicTree .insert,
.DynamicTree .info,
.DynamicTree .remove {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    border: 1px solid #F1EFE2;
    z-index: 5;
    cursor: default;
}
.DynamicTree .moveUp:hover,
.DynamicTree .moveDown:hover,
.DynamicTree .moveLeft:hover,
.DynamicTree .moveRight:hover,
.DynamicTree .insert:hover,
.DynamicTree .info:hover,
.DynamicTree .remove:hover {
    background-color: #ffffff;
    border: 1px solid #ACA899;
}
.DynamicTree .moveUp { left: 0px; }
.DynamicTree .moveDown { left: 25px; }
.DynamicTree .moveLeft { left: 50px; }
.DynamicTree .moveRight { left: 75px; }
.DynamicTree .insert { left: 100px; }
.DynamicTree .info { left: 125px; }
.DynamicTree .remove { left: 150px; }

.DynamicTree .wrap { margin-left: 2px; }
.DynamicTree .top { background: url(../../img/dynamictree/tree.gif) no-repeat; padding-left: 25px; line-height: 20px; color: #333333; }
.DynamicTree .wrap1 { background: #ffffff; padding: 10px; border: 1px solid #919B9C; width: 250px; }
.DynamicTree .wrap2 { margin-left: 2px; }

.DynamicTree #tree-insert-form { display: none; margin-top: 1em; }
.DynamicTree #tree-insert-form .label { text-align: right; width: 50px; padding-right: 8px; }
.DynamicTree #tree-insert-form .input { margin-bottom: 2px; padding-left: 3px; }
.DynamicTree #tree-insert-form select { margin-bottom: 2px; }
.DynamicTree #tree-insert-form .button { margin-top: 4px; }

.DynamicTree #tree-info-form { display: none; margin-top: 1em; }
.DynamicTree #tree-info-form .label { text-align: right; width: 50px; padding-right: 8px; }
.DynamicTree #tree-info-form .input { margin-bottom: 2px; padding-left: 3px; }
.DynamicTree #tree-info-form select { margin-bottom: 2px; }
.DynamicTree #tree-info-form .button { margin-top: 4px; }