.body
{
	font-size: 11px;
	font-family: Tahoma, Verdana, Helvetica, sans-serif;
}

.pageinfo p {
	margin-top: 0px;
	margin-bottom: 11px;
}
.message_box {
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 5px;
}

.Heading1
{
	color: #000000;
	font-size: 18px;
	font-weight: bold;
	font-family: Tahoma, Verdana, Helvetica, sans-serif;
	padding-bottom: 10px;
}

.Heading1 a {
	font-size:18px;
	color:#005FA3;
}

.Heading1 ul,
.Heading1 ul li,
.Heading1 ul li a {
	display: block;
	width: 100%;
}

.Heading2, tr.Heading2 td
{
	font-weight: bold;
	font-size: 11px;
	color: #000000;
	height: 16pt;
	font-family: Tahoma, Verdana, Helvetica, sans-serif;
	background-color: #EDECEC;
	/*padding: 4px 4px 4px 10px;*/
}

.Heading3
{
	PADDING-LEFT: 4pt;
	FONT-WEIGHT: bold;
	font-size: 11px;
	COLOR: #ffffff;
	FONT-FAMILY: Tahoma, Verdana, Helvetica, sans-serif;
	TEXT-DECORATION: none;
}

.Heading3 TD
{
	vertical-align: middle;
	background-repeat: repeat-x;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	background-color: #e4e4e4;
	color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dddddd;
}

TR.GridRow TD
{
	padding: 3px 3px 3px 5px;
}

TR.GridRowOver TD
{
	padding: 3px 3px 3px 5px;
}

.ManageImageBox {
	color: #333333;
	font: normal 11px Tahoma;
	margin-top: 5px;
	text-align: center;
	padding: 5px;
	float: left;
	display: inline;
	height: 100px;
	border: 5px solid transparent;
    cursor: move;
}

.inPlaceImageBoxDefault {
	background-color:transparent;
	border:1px solid transparent;
	color:#676767;
	padding:3px;
	text-align: left;
	width: 180px;
}

.inPlaceImageBoxFieldHover {
	background-color:#FFFFDD !important;
	border-color:#666666 rgb(221, 221, 221) rgb(221, 221, 221) rgb(102, 102, 102) !important;
	border-style:solid;
	border-width:1px;padding:3px;
}

.inPlaceFieldFocus {
	background-color:#FFF;
	border:1px solid #809DB9;
	padding:3px;
}